.test/

files/*
!files/scripts/setup_ansible_venv.sh
!files/scripts/setup_test_venv.sh

group_vars/
!group_vars/all

misc/

playbooks/
!playbooks/examples

roles/*
!roles/user
!roles/config

tasks

hosts
*.retry
*.log
vault*

